

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background: #e3dfdf
}

.navbar-inverse .navbar-inner{
	background: #596178;
	background-image: none;
}








